body {
    height: 100vh;
    background-color: #141414 !important;
}

a {
    text-decoration: none !important;
}

#root {
    height: 100%;
}

.profiles-container h1 {
    width: 100%;
    color: #fff;
    font-size: 3.5vw;
    font-weight: 500;
}

.avatar {
    background-size: cover;
    border-radius: 5px;
}

.profile_gate .avatar {
    height: 10vw;
    width: 10vw;
    max-width: 200px;
    min-width: 84px;

}

.profile_gate .avatar:hover {
    outline: 3px solid grey;
}

.profile_drop_down .avatar {
    height: 40px;
    width: 40px;
    margin-right: 10px;
}

.profile_drop_down span {
    font-size: 14px;
}

.profile_name {
    color: grey;
    margin: 0.6em 0;
    font-size: 1.3vw;
}

.add_profile {
    background-image: url("./assets/buttons/add-button.png");
}

.add_profile:hover {
    background-color: #fff;
    background-image: url("./assets/buttons/add-button.png");
    outline: #fff;

}

.hero {
    margin-top: -100px;
    z-index: 0;

}

#hero_video {
    width: 100% !important;
}

.NavBar {
    z-index: 1;
    position: relative;
    padding: 10px 60px;
    display: flex;
    justify-content: space-between;
    background: rgb(20, 20, 20);
    background: linear-gradient(180deg, rgba(20, 20, 20, 1) 0%, rgba(255, 255, 255, 0) 80%)
}

.NavBar .brand img {
    height: 30px;
    margin-right: 20px;
}

.nav_item a {
    color: #fff;
}

.nav_item a:hover {
    color: #ccc;
}

.control,
.nav {
    width: unset !important;
}

.control .icon {
    margin: 10px;
}

.carousel {
    padding: 20px 10px;
}

.carousel_item {
    height: 20vh;
    margin: 10px;
    background-size: cover;
}

.nav_bar_avatar {
    width: 45px;
    border-radius: 5px;
    padding-left: 10px;
}

.avatar_caret {
    margin-left: 10px;
    color: #fff;
}


.profile_drop_down {
    background: #010101;
    width: 15vw;
    position: absolute;
    z-index: 8;
    right: 60px;
    margin-left: 20px;
    color: #fff;
    padding: 20px;
}

.profile_drop_down a {
    text-decoration: none;
    color: #fff;
}

.profile_drop_down a:hover {
    text-decoration: none;
    color: #fff;
}

.slick-next {
    right: 30px !important;
    margin-right: 50px !important;
    margin-right: 10px;

}

.slick-prev:before,
.slick-next:before {
    font-size: 60px !important;
}

.slick-prev {
    padding-left: 50px !important;
    z-index: 1;
    left: 30px;
}

.carousel_title {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}

.hero_content {
    position: absolute;
    top: 10%;
    padding: 100px;
    width: 50vw;

}

.hero_content .show_logo {
    height: 20vh;
}


.show_desc {
    color: #fff;
    padding-top: 20px;
    text-align: left;
    font-weight: 400;
    font-size: 20px;
}

a.button {
    padding: 0.5rem 2rem;
    font-weight: 600;
    border-radius: 4px;

}

a.white,
a.white:hover {
    background-color: white;
    color: black;
    border: 0;

}

a.black,
a.black:hover {
    margin-left: 5px;
    background-color: rgba(109, 109, 110, 0.7);
    color: #fff;
    border: 1px solid #fff;
}

button.button span {
    margin-left: 20px;
}

.player_container {
    height: 100vh;
    width: 100vw;
}

.player_container video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background-size: cover;
}

.player_container .control {
    width: 100%;
    padding: 10px 5px;
    background-image: linear-gradient(rgba(255, 255, 255, 0) 0%, rgb(20, 20, 20) 80%);
}

.player_container .control .icon {
    color: #fff;
    font-size: 25px;
    margin-right: 20px;
    cursor: pointer;
}

.player_container .control .showName {
    color: #fff;
    font-size: 17px;
    font-weight: bold;
}

.player_container .control progress {
    width: 100%;
    margin-bottom: 20px;
}

input[type=range][orient=vertical] {
    writing-mode: bt-lr;
    /* IE */
    -webkit-appearance: slider-vertical;
    /* WebKit */
    width: 8px;
    height: 175px;
    padding: 0 5px;
}

#volume-slider input {
    margin-bottom: 50px;
}

.volume:hover #volume_control {
    display: block !important;
}

.loading {
    width: 5rem !important;
    height: 5rem !important;
}

.login_container {
    height: 100%;
    width: 100%;

}

.login_container .brand {
    padding-left: 20px;
    padding-top: 10px;
}

.login_container .input_container {

    width: 30%;
    margin: 0 auto;


}

.login_container .input_inner_container {
    padding: 60px;
    background-color: aqua;

    background-color: rgba(0, 0, 0, .75);
    border-radius: 4px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 515px;

}

.login_container .title p {
    padding: 0;
    color: #fff;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 28px;

}

.login_container input {
    background: #333;
    outline: none;
    border: none;
    margin-bottom: 20px;
    height: 50px;
    border-radius: 4px;
    color: #fff;
    line-height: 50px;
    font-size: 16px;


}


.login_container button {
    background: #e50914;
    outline: none;
    border: none;
    margin-bottom: 20px;
    height: 50px;
    border-radius: 4px;
    color: #fff;
    line-height: 50px;
    font-size: 16px;
}

.login_container .signin_choices {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login_container .signin_choices p,


.login_container .signin_choices .remember_me {
    display: flex;
    align-items: center;
}

.remember_me {
    display: flex !important;
    align-items: center;
    color: #b3b3b3;
    font-size: 13px;
    font-weight: 400;

}

.signin_choices p {
    margin: 0 !important;
    display: flex !important;
    align-items: center;
    color: #b3b3b3;
    font-size: 13px;
    font-weight: 400;

}

.remember_me input[type=checkbox] {
    padding-left: 10px;

    padding-left: 5px;
    flex: none;
    margin: 0;
    margin-right: 5px;

}